mixin filter-pagination(filterPagination)
    ul(class="pagination")
        each item in filterPagination
            li(class="page-item " + item.class)
                a(class="page-link", href="?page="+ item.page) #{item.name}